<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstname}} {{currentUser.email}}!</h1>
    <p>You're logged in with Angular 4!!</p> 
    <h3>All registered users with a name as of :</h3>
     <form name="formHome" (ngSubmit)="f.form.valid && loadAllUsers()" #f="ngForm" novalidate>
	    <div class="form-group">
		    	<label for="uname">Name</label>
		    	<input type="text" class="form-control" name="uname"  [(ngModel)]="uname" required/>
		    	<div *ngIf="f.submitted" class="help-block">Name is required</div>
		    	<button [disabled]="loading" class="btn btn-primary">Load</button>
	        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	    </div>
    </form>
    <ul>
        <li *ngFor="let user of users">
            {{user.id}} ({{user.firstname}} {{user.lastname}} {{user.email}})
             <button (click)="deleteUser(user.id)">Delete</button>
           </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
