	<div class="container" class="container-fluid">
		<div id="loader-wrapper">
			<div id="loader"></div>

			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>
	</div>

<div id="maindiv">

	<a class="back-to-top" style="display: none;" href="#">TOP</a>

	<div id="section1">
		<h2 class="section1Text blink_me">...where your photo can become
			the star and you the winner !</h2>
		<div id="floater"></div>
		<div class="container1" class="container-fluid">

			<form class="form-inline" action="/action">
				<input type="email" id="email" class="in-email"
					placeholder="your email address" name="email">
				<button type="button" class="btn btn-lg1 btn-success btn1">I
					want it!</button>
			</form>
		</div>
	</div>

	<div id="section2">
	<div class="container container-fuild">
		<h2 style="font-family:'Saira Semi Condensed', sans-serif;text-align:center;">
		... join us, A world community of photomaniacs <br/> with <span class="emphasis">TALENT</span> and <span class="emphasis">EXPERIENCED</span> professionals! just.. <span class="emphasis">FEEL</span> inspired!
		</h2>
		<!-- <div id="floater"></div> -->
			<div class="page-wrap">
				<div id="home-slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide swiper-slide-one">
								<div class="swiper-image" data-swiper-parallax-y="-20%">
									<div
										class="swiper-image-inner swiper-image-left swiper-image-one">
										<h1>
											Our <span class="emphasis">Community</span>. <br> <span>Of
												passionate photographers.</span>
										</h1>
										<div class="table-responsive" style="top: -100px;margin: auto;position:relative;">
											<table class="table table-borderless" style="border: 0px; height:100%">
												<tbody>
														<tr>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<p style="font-size:14px;margin-top:30px;">Bruno Lopes</p>
																	<button class="success" style="font-size:11px;">see me inside!</button>
																</div>
															</div>	    
													    </td>
													    <td>
													    </td>
													    <td>
													    		<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td colSpan="2">
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
														<td>
														</td>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
													<div class="sec2imgdiv">
									               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
													<div class="imgoverlay">
														<button >see me inside!</button>
													</div>
												</div>
														</td>
														<td	style="width: 35%;">
														</td>
														<td>
													<div class="sec2imgdiv">
									               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
													<div class="imgoverlay">
														<button >see me inside!</button>
													</div>
												</div>
														</td>
													</tr>
												</tbody>
												</table>
												</div>
								</div>
								</div>
									
								<div class="swiper-image" data-swiper-parallax-y="35%">
									<div
										class="swiper-image-inner swiper-image-right swiper-image-two">
										
										<div class="table-responsive" style="">
											<table class="table table-borderless" style="border: 0px; height:100%">
												<tbody>
													<tr>
														<td colSpan="2">
														<h2>
														Some of the international best awarded photographers and most traveler photographers are here 
														with us! You can follow them, interact with them and their work and learn with their lessons,
														events and trips!
														</h2> 	
														</td>
													</tr>
												</tbody>
												</table>
												</div>
			
												
												</div>
									</div>
						</div>
							<div class="swiper-slide swiper-slide-two">
								<div class="swiper-image" data-swiper-parallax-y="-20%">
									<div
										class="swiper-image-inner swiper-image-left swiper-image-three">
										<h1>
											 <span class="emphasis">The Judges</span>. <br> <span>A public choice too.</span>
										</h1>
										<div class="table-responsive" style="top: -100px;margin: auto;position:relative;">
											<table class="table table-borderless" style="border: 0px; height:100%">
												<tbody>
														<tr>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<p style="font-size:14px;margin-top:30px;">Bruno Lopes</p>
																	<button class="success" style="font-size:11px;">see me inside!</button>
																</div>
															</div>	    
													    </td>
													    <td>
													    </td>
													    <td>
													    		<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td colSpan="2">
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
														<td>
														</td>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
													<div class="sec2imgdiv">
									               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
													<div class="imgoverlay">
														<button >see me inside!</button>
													</div>
												</div>
														</td>
														<td	style="width: 35%;">
														</td>
														<td>
													<div class="sec2imgdiv">
									               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
													<div class="imgoverlay">
														<button >see me inside!</button>
													</div>
												</div>
														</td>
													</tr>
												</tbody>
												</table>
												</div>
									</div>
								</div>
								<div class="swiper-image" data-swiper-parallax-y="35%">
									<div
										class="swiper-image-inner swiper-image-right swiper-image-four">
										<div class="table-responsive" style="">
											<table class="table table-borderless" style="border: 0px; height:100%">
												<tbody>
													<tr>
														<td colSpan="2">
															<h2>
															Our team of new judges is entirely derived from a public choice. We only
															make sure that the photographers that can become JUDGES have accomplished some of our <a hreaf="#"> requirements</a>, after
															that all the winper's have the power to decide who will become the next JUDGE. 
															</h2>
														</td>
													</tr>
												</tbody>
												</table>
												</div>
												
									</div>
								</div>
							</div>
							<div class="swiper-slide swiper-slide-three">
								<div class="swiper-image" data-swiper-parallax-y="-20%">
									<div
										class="swiper-image-inner swiper-image-left swiper-image-five">
										<h1>
											And the <span class="emphasis">amateurs</span>. <br> <span> All of you
											who desire to learn, enjoy, win, teach, travel and be more!</span>
										</h1>
										
										<div class="table-responsive" style="top: -100px;margin: auto;position:relative;">
											<table class="table table-borderless" style="border: 0px; height:100%">
												<tbody>
														<tr>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<p style="font-size:14px;margin-top:30px;">Bruno Lopes</p>
																	<button class="success" style="font-size:11px;">see me inside!</button>
																</div>
															</div>	    
													    </td>
													    <td>
													    </td>
													    <td>
													    		<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td colSpan="2">
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
														<td>
														</td>
														<td>
															<div class="sec2imgdiv">
												               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
																<div class="imgoverlay">
																	<button >see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
													<div class="sec2imgdiv">
									               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
													<div class="imgoverlay">
														<button >see me inside!</button>
													</div>
												</div>
														</td>
														<td	style="width: 35%;">
														</td>
														<td>
													<div class="sec2imgdiv">
									               <img class="imgdiv" alt="" src="assets/images/perfil1.png" >
													<div class="imgoverlay">
														<button >see me inside!</button>
													</div>
												</div>
														</td>
													</tr>
												</tbody>
												</table>
												</div>
										
									</div>
								</div>
								<div class="swiper-image" data-swiper-parallax-y="35%">
									<div
										class="swiper-image-inner swiper-image-right swiper-image-six">
										<div class="table-responsive" style="">
											<table class="table table-borderless" style="border: 0px; height:100%">
												<tbody>
													<tr>
														<td colSpan="2">
															<h2>
															 To grow, you need to learn something each day. There are many different ways to do it, here
															  we let you to grow by <span class="emphasisSEC2">learning, sharing, compete, teaching, wining, losing, socializing</span> and also
															  <span class="emphasisSEC2">traveling</span> to destinations never seen before. In the end we want you to learn by enjoying yourself 
															  with your own photographic work, it can be 'TOP X' photo or just a crappy photo.. who knows who is what ?
															  <a class="emphasisSEC2btn" [routerLink]="['/register']"> Join us </a> and find all about it! 
															</h2>
															 
														</td>
													</tr>
												</tbody>
												</table>
												</div>
									
									</div>
								</div>
							</div>

						</div>
						<div class="swiper-pagination"></div> 
					</div>
				</div>

		</div>	
		</div>
	</div>

	<div id="section3">
		<!-- class="container" class="container-fluid" -->
<!-- 		<p>{{appVar.slides[0].headlineFirstLine}}</p> -->
	<div class="container container-fuild">
		<div id="app" class="wrapper" v-cloak
			v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
			<div class="slide-wrapper" v-for="(slide, index) in slides"
				v-bind:class="{ active: index === currentSlide }"
				v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
				<div class="slide-inner">
					<div class="slide-bg-text">
						<div style="height:200px">
							<div v-text="slide.headlineFirstLine"></div>
							<div v-text="slide.headlineSecondLine"></div>
						</div>
					</div>
					<div class="slide-rect-filter">
						<div class="slide-rect"
							v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
					</div>
					<div class="slide-content">
						<h1 class="slide-content-text">
							<div v-text="slide.headlineFirstLine"></div>
							<div v-text="slide.headlineSecondLine"></div>
						</h1>
						<a class="slide-content-cta">Its for me too!</a>
					</div>
					<h2 class="slide-side-text">
						<span> <div v-text="slide.sublineFirstLine"></div></span> <span>
						<div v-text="slide.sublineSecondLine"></div></span>
					</h2>
				</div>
			</div>
			<div class="controls-container">
				<button class="controls-button" v-for="(slide, index) in slides"
					v-bind:class="{ active: index === currentSlide }"
					v-on:click="updateSlide(index)">
					<div v-text="slide.headlineFirstLine"></div>
					<div v-text="slide.headlineSecondLine"></div>
					</button>
			</div>
			<div class="pagination-container">
				<span class="pagination-item" v-for="(slide, index) in slides"
					v-bind:class="{ active: index === currentSlide }"
					v-on:click="updateSlide(index)"></span>
			</div>
		</div>
		</div>
	</div>

	<div id="section4">
		<h2>... join or create contests, vote on the existing ones to win
			great prizes from great brands and even cash!</h2>
		<div class="container container-fuild">

			<div class="table-responsive" style="margin: 50px">
				<table class="table table-borderless" style="border: 0px">
					<tbody>
						<tr>
							<td>
								<div class="sec4imgdiv">
								<img class="imgdivsec4" style="max-width: 100%; height: auto;"
								src="assets/images/img1.jpg" />
									<div class="imgoverlaysec4">
										<p style="font-size: 14px; margin-top: 30px;">Bruno Lopes</p>
										<button class="success" style="font-size: 11px;">see
											me inside!</button>
									</div>
								</div> 
							</td>
							<td><img style="max-width: 100%; height: auto;"
								src="assets/images/005.jpg" /></td>
							<td><img style="max-width: 100%; height: auto;"
								src="assets/images/006.jpg" />
							<td>
							<td>
							<td><img style="max-width: 100%; height: auto;"
								src="assets/images/007.jpg" /></td>
							<td><img style="max-width: 100%; height: auto;"
								src="assets/images/008.jpg" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="section5">
		<h2>...the statistics show us that...!</h2>

		<div class="container">
			<div class="container-fluid">
				<div style="text-align: center">
					<div
						style="float: left; display: flex; align-items: center; height: 100%;">
						 <div id="vmap" style="width: 600px; height: 400px;"></div>
					</div>

					<div style="margin: 0 auto !important; display: inline-block;">
						<img alt="oak	2" src="assets/images/img2.jpg"
							class="img2 img-responsive center-block" /> <img alt="oak	3"
							src="assets/images/img3.jpg"
							class="img3 img-responsive center-block" /> <img alt="oak	4"
							src="assets/images/img4.jpg"
							class="img4 img-responsive center-block" />
					</div>

					<div
						style="float: right; display: flex; align-items: center; height: 100%;">
						<div class="panel">
							<img alt="oak	2" src="assets/images/img2.jpg" class="img2" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="section6">
		<p class="sec7msg1">
			... go <span class="emphasisSEC7">social</span> and see what people are
			saying about us!
		</p>

		<div id="sec6Div" class="container" class="container-fluid">

			<div class="container">
				<div class="table-responsive" style="margin-left:50px">
					<table class="table table-borderless" style="border:0px">
						<tbody>
							<tr>
								<td style="float:right">
								<img class="imgsec6 "alt="oak	4" src="assets/images/gosocial6.png"
									 />
								<a href="http://facebook.com" target="_blank	">
									<img class="imgsec6" alt="oak	4" src="assets/images/gosocial7.png"/>
								</a> 
									 <img class="imgsec6" alt="oak1"
									src="assets/images/gosocial1.png" class="img1" />
									</td>
								<td>
								</td>
								<td style="float:left"></td>
							</tr>
							<tr>
								<td style="float:right"></td>
								<td>
									<img class="imgsec6" alt="oak4"
									src="assets/images/gosocial5.png"  />
									 <img class="imgsec6" alt="oak	3"
									src="assets/images/gosocial3.png" class="img3" /></td>
								<td style="float:left"></td>
							</tr>
							<tr>
								<td style="float:right">
								<img class="imgsec6" alt="oak	4" src="assets/images/gosocial8.png"
									 /> <img class="imgsec6" alt="oak	4"
									src="assets/images/gosocial9.png"  /> <img
									alt="oak	4" src="assets/images/gosocial4.png" class="img4" />
									<img class="imgsec6" alt="oak	4"
									src="assets/images/gosocial11.png"  />
								</td>
								<td></td>
								<td style="float:left">
								
								<img class="imgsec6" alt="oak	2" src="assets/images/gosocial2.png"
									class="img2" /> 
									
								<img class="imgsec6" alt="oak	4" src="assets/images/gosocial10.png"
									 /> 
										
								</td>
							</tr>
							<tr>
								<td style="float:right">
								</td>
								<td></td>
								<td style="float:left">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
   </div>
		<div id="section7">
			<p class="sec7msg1" ><span class="emphasisSEC7">...</span> here you will <span class="emphasisSEC7">learn</span>, <span class="emphasisSEC7">share</span>, <span class="emphasisSEC7">invite</span>, <span class="emphasisSEC7">enjoy</span> and <span class="emphasisSEC7">feel</span> it, <span class="emphasisSEC7">win</span>, <span class="emphasisSEC7">follow</span>, <span class="emphasisSEC7">travel</span> and much more!</p>
			<p class="sec7msg258"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Learn</span> how to improve.</p>
			<p class="sec7msg36"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Share</span> your know how with your photographic shots, blog, events and trips. </p>
			<p class="sec7msg47"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Invite</span> everybody to enjoy your photos and all you have to offer on this matter. </p>
			<p class="sec7msg258"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Enjoy</span> the way you can just use your photos to express your self and let others do the same in a many different ways. </p>
			<p class="sec7msg36"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Win</span> prizes, knowledge, awareness of your self and the world and let your mind become a winner each day. </p>
			<p class="sec7msg47"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Follow</span> the greatest and your favorites, photographers, photos, contests, events, trips and more</p>
			<p class="sec7msg258"><span class="glyphicon glyphicon-thumbs-up"></span><span class="emphasisSEC7"> Travel</span> to where ? Yes to the right place on planet earth where your favorite shots have been taken, that's it!
			 here you will find the right itineraries and all you need to book them for your next trip!</p>		
	</div>
	<div id="section8">
			<p class="sec8msg1">  
			So what are you waiting for...!?  <a class="emphasisSEC7btn" [routerLink]="['/register']"> Sign Up</a> for <span class="emphasisSEC7">FREE</span> and discover how to enrich your life and bring your photographic shots to an <span  class="emphasisSEC7">iconic</span> level, your level!</p>
	</div>

	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Header -->
				<div class="modal-header">
					<h1>Header</h1>
				</div>

				<!-- Body -->
				<div class="modal-body">
					<p>Body</p>
				</div>

				<!-- Footer -->
				<div class="modal-footer modal-footer--mine">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-inverse" data-spy="affix">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> <img alt=""
					src="assets/images/winpilogo2.png"
					style="width: 25px; hright: 20px;">
				</a>
			</div>
			<div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a [routerLink]="['/contestList']">Contests</a></li>
						<li><a [routerLink]="['/photoList']">Photos</a></li>
						<li><a [routerLink]="['/vote']">Vote</a></li>
						<li class="dropup"><a class="dropup-toggle"
							data-toggle="dropdown" href="#">How <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a [routerLink]="['/support']">it works</a></li>
								<li><a [routerLink]="['/start']">to start</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li><a [routerLink]="['/login']">Login</a></li>
						<li><a [routerLink]="['/register']"> Sign Up</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>
